Repository legend-exp/legend-pydataobj, pull requests merged in 2023-11, with the labels that each got.

#31 Fix uninitialized array comparison in compression tests
  tests/compression/test_radware_sigcompress.py
Labels: bug, compression

#28 Fix wrong `Table.eval()` docstring
  src/lgdo/types/table.py
Labels: documentation

#32 Avoid `nda.tolist()` in `Table.get_dataframe()` when possible
  src/lgdo/types/scalar.py
  src/lgdo/types/table.py
Labels: performance, types

#23 Allow for in-place reading + decompression of `ArrayOfEqualSizedArrays` if object buffer is provided
  src/lgdo/compression/generic.py
  src/lgdo/compression/radware.py
  src/lgdo/compression/varlen.py
  src/lgdo/lh5_store.py
  tests/compression/test_radware_sigcompress.py
  tests/test_lh5_store.py
Labels: compression

#34 Enable more fine grained control over `h5py.create_dataset()` options and set default HDF5 compression to shuffle + GZip
  docs/source/notebooks/DataCompression.ipynb
  docs/source/tutorials.rst
  src/lgdo/lh5_store.py
  tests/test_lh5_store.py
Labels: enhancement, compression

#35 improve read_object speed when passing idx
  src/lgdo/lh5_store.py
Labels: performance, lh5

#38 Bug fix: output object type check in zig-zag encoder, needed for loading multiple files
  src/lgdo/compression/varlen.py
Labels: bug, compression

#24 Refactor of LH5 I/O routines, deprecation of existing methods
  docs/source/extensions/numbadoc.py
  docs/source/notebooks/DataCompression.ipynb
  docs/source/notebooks/LH5Files.ipynb
  src/lgdo/__init__.py
  src/lgdo/cli.py
  src/lgdo/lgdo_utils.py
  src/lgdo/lh5/__init__.py
  src/lgdo/lh5/iterator.py
  src/lgdo/lh5/store.py
  src/lgdo/lh5/utils.py
  src/lgdo/lh5_store.py
  src/lgdo/types/array.py
  src/lgdo/types/arrayofequalsizedarrays.py
  src/lgdo/types/encoded.py
  src/lgdo/types/scalar.py
  src/lgdo/types/vectorofvectors.py
  src/lgdo/utils.py
  tests/compression/conftest.py
  tests/compression/test_radware_sigcompress.py
  tests/lh5/test_lh5_iterator.py
  tests/lh5/test_lh5_store.py
  tests/lh5/test_lh5_utils.py
  tests/test_lgdo_utils.py
  tests/types/test_array.py
  tests/types/test_vectorofvectors.py
Labels: lh5
