Repository legend-exp/legend-pydataobj, pull requests merged in 2024-01, with the labels that each got.

#53 Reimplement `Table.eval()`, now handling `VectorOfVectors`
  src/lgdo/types/arrayofequalsizedarrays.py
  src/lgdo/types/table.py
  src/lgdo/types/vectorofvectors.py
  tests/lh5/test_lh5_store.py
  tests/types/test_table_eval.py
  tests/types/test_vectorofvectors.py
Labels: types

#56 Deprecate `load_nda()` and `load_dfs()` in favour of `.view_as()`
  src/lgdo/lh5/store.py
  tests/lh5/test_lh5_store.py
Labels: lh5

#63 Fix for reading just first row of VectorOfVectors
  src/lgdo/lh5/store.py
  tests/lh5/test_lh5_store.py
Labels: bug, lh5

#62 Feature: `lh5.read_as()` to read LH5 data straight into third party data views
  docs/source/notebooks/LH5Files.ipynb
  src/lgdo/lh5/__init__.py
  src/lgdo/lh5/store.py
  src/lgdo/lh5/tools.py
  tests/lh5/test_lh5_store.py
Labels: enhancement

#64 Add first version of CITATION.cff
  CITATION.cff
Labels: documentation

#65 Bug fix in `LH5Store.read()`: check for `n_rows` longer than `idx`s before dropping
  src/lgdo/lh5/store.py
Labels: bug, lh5
