Repository legend-exp/legend-pydataobj, pull requests merged in 2025-04, with the labels that each got.

#137 pull out lh5concat into a seperate function and make it memory safe
  pyproject.toml
  src/lgdo/cli.py
  src/lgdo/lh5/__init__.py
  src/lgdo/lh5/concat.py
  tests/lh5/test_concat.py
  tests/test_cli.py
Labels: performance, lh5

#109 Separate size and capacity of LGDO ArrayLike objects
  docs/source/notebooks/LH5Files.ipynb
  src/lgdo/lh5/_serializers/read/composite.py
  src/lgdo/lh5/concat.py
  src/lgdo/lh5/core.py
  src/lgdo/lh5/iterator.py
  src/lgdo/lh5/store.py
  src/lgdo/types/array.py
  src/lgdo/types/encoded.py
  src/lgdo/types/histogram.py
  src/lgdo/types/lgdo.py
  src/lgdo/types/table.py
  src/lgdo/types/vectorofvectors.py
  src/lgdo/types/vovutils.py
  tests/compression/conftest.py
  tests/compression/test_radware_sigcompress.py
  tests/lh5/conftest.py
  tests/lh5/test_concat.py
  tests/lh5/test_core.py
  tests/lh5/test_lh5_iterator.py
  tests/lh5/test_lh5_store.py
  tests/lh5/test_lh5_write.py
  tests/types/test_array.py
  tests/types/test_histogram.py
  tests/types/test_table.py
  tests/types/test_vectorofvectors.py
Labels: enhancement, performance, types

#143 support bytestrings
  pyproject.toml
  src/lgdo/lh5/_serializers/write/composite.py
  src/lgdo/lh5/core.py
  src/lgdo/lh5/store.py
  src/lgdo/lh5/utils.py
  src/lgdo/types/vectorofvectors.py
  tests/compression/test_radware_sigcompress.py
  tests/conftest.py
  tests/lh5/test_lh5_utils.py
  tests/lh5/test_lh5_write.py
  tests/types/test_vectorofvectors.py
Labels: types
